body {
  margin: 0;
  height: 100vh;
  width: 100vw; }

.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  width: 100vw;
  margin-bottom: 2vh; }

.timebox {
  height: 100%;
  width: 25%;
  border: 1px solid black; }

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw; }

.filler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  align-items: flex-end;
  width: 100vw; }

#description {
  align-items: center; }

#roomAssign {
  align-items: center; }

#startRound {
  align-items: center; }

.roundContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
  margin-bottom: 2vh; }

.round {
  height: 100%;
  width: 5vh;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0px 1vw 0px 1vw; }

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh; }

.switch {
  position: relative;
  display: inline-block;
  width: 90vw;
  height: 10vh; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2vw;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s; }

.slider:before {
  position: absolute;
  content: "";
  height: 10vh;
  width: 45vw;
  background-color: yellow;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  -webkit-transition: .2s;
  transition: .2s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(45vw);
  -ms-transform: translateX(45vw);
  transform: translateX(45vw); }

.RevealButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
  width: 100vw;
  margin-bottom: 5vh; }

.RevealButton {
  height: 100%;
  width: 20vh; }

.revealButton {
  height: 20vh;
  width: 20vh; }

#leaderInfo {
  width: 10vw;
  height: 15vh;
  border: 1px solid;
  align-items: flex-end; }

.blue {
  background: url(blueColorReveal.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
