body {
  -webkit-touch-callout: none !important;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
a {
  -webkit-user-select: none !important;
}

img {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}