.toggle {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;

}
.switch {
  position: relative;
  display: inline-block;
  width: 90vw;
  height: 10vh;
}


.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2vw;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10vh;
  width: 45vw;
  background-color: yellow;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(45vw);
  -ms-transform: translateX(45vw);
  transform: translateX(45vw);
}

