#hostUsernameInput {
    background-color: white;
    width: 20vw;
    height: 5vh;
    border: 1px solid;
}

#createGameIdBtn {
    width: 20vw;
    height: 5vh;
}


#startGameBtn {
    width: 20vw;
    height: 5vh;
    background-color: red;
    border: 1px solid;


}
