.outer{
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
width: 100vw;
}

.filler{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  align-items: flex-end;
  width: 100vw;
}

#description {
  align-items: center;
}

#roomAssign {
  align-items: center;
}

#startRound{
  align-items: center;
}