.RevealButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    width: 100vw;
    margin-bottom: 5vh;
}

.RevealButton{
    height: 100%;
    width: 20vh;
}

.revealButton{
    height: 20vh;
    width: 20vh;
}
